button{
background-color: tomato;
padding: 10px;
color: aliceblue;
font-size: 20px;
border: none;
border-radius: 10px;
}
table{
    margin-top: 50px;
    width: 100%;
    background-color: rgb(180, 180, 180);
}

table thead th{
    padding: 20px;
}
table td{
    text-align: center;
    padding: 10px 0;
}
img{
    width: 100px;
}